body{
	padding: 2rem;
	/* overflow-x: hidden; */
	transition: background-color 0.3s ease;
}


/* morWork 滚动到最后的效果 */
.dark {
	background-color: black;
}



/* 🔥🔥鼠标划出的选区的样式 */
::selection {
	background-color: #b3ff76;
	color: #006581;
}