.container {
	/* border: 1px solid red; */
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;
	padding: 48px;
	gap: 48px;
}

/* 上下信息 */
.info-header {
	display: flex;
	flex-direction: column;
	gap: 72px
}

/* 🔥渐入效果(结合观察器来显示元素） */
.init-Ref {
	opacity: 1;
	transition: transform 0.35s cubic-bezier(.77, 0, .175, 1) 1.5s;
}

.init-show {
	opacity: 1;
	transition: transform 0.35s cubic-bezier(.77, 0, .175, 1) 1.5s;
}