/* Selected Work 标题 —————————————————————————————————————— */
.selected-works {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 60px;
	/* border: 1px solid red; */
}


/* 目录(🔥用伪元素实现目录的继承！） */
.works-text-container {
	font-weight: 200;
	display: flex;
	flex-direction: column;
	gap: 24px;
	/* overflow-x: hidden; */
}

.all-work {
	counter-increment: workNum; /*  🔥🔥计数器, 类似变量！ 这个变量要放在所有目录都有的 class 的那个元素身上！！结合下边 content 统一来统计数量！！*/
	position: relative;
	display: flex; /* 🔥🔥🔥为了避免 hover 到标题后无法移动 span 行内元素, 需要给父元素添加个 flex 布局*/
	/* border: 1px solid red; */ 
}

.all-work-text-box {
	width: 100%;
	overflow: hidden;
	display: flex; /* 🔥🔥🔥 把父元素改成 flex ！ 结合下边的 span absolute ！！才能给行内元素设置 width！！ */
	position: relative; /* 🔥🔥🔥 把父元素 加上 relative ！ 结合下边的 span absolute ！！才能给行内元素设置 width！！ */
}


/* 左侧标题 */
.left-work-titles-info {
	font-size: 7vw;
	max-height: 
	font-weight: 200;
	transition: opacity 0.3s ease;
	z-index: 5; 
}

.left-work-titles-info::before {
	content: "0" counter(workNum)"/"; /* 🔥🔥需要为字符串！结合上边的 counter-increment 变量！ */
	font-size: 1.2rem;
	font-weight: 100;
	margin-right: 8px;
}


.left-work-titles-info:hover { 
	opacity: 0;
}




/* 🔥🔥 跑马灯文字 —————————————————————————————————————— */
.text-move { /* ⚡️⚡️⚡️⚡️⚡️⚡️ span 是行内元素, 不能设置宽跟高！但是由于【父级】设置为了【flex】, 所以它能生效！！ */
	min-width: 100%; /* 🔥🔥🔥要移动的元素的最小宽度 = 父级宽度!! */
	width: fit-content; /* 🔥🔥🔥要移动的元素的宽度【适配内容的宽度】!! */
	font-size: 7vw;
	position: absolute; /* 🔥🔥🔥绝对定位才能跟随鼠标, 同时把父元素改成 flex ！ */
	right: 0;
	white-space: nowrap;/* 禁止换行 */
	transform: translateX(100%);
	animation: textMoving 3s infinite linear;
	animation-play-state: paused; /*  🔥默认不播放动画！ */
	opacity: 0; /* ⚡️跑马灯原先的文字 */
	transition: opacity 0.2s;
	pointer-events: none; /* 🔥🔥禁用事件, 避免影响 hover 时出现图片的效果！ */
	/* background: black; */
}


 /* 🔥 hover 目录时, 跑马灯文字进行位移, 兄弟选择器(🌟🌟 + 的话需要在 html 结构上是相邻的兄弟才能选择得到!! ~ 的话就能选到所有兄弟！！！） */
.left-work-titles-info:hover ~ .text-move {
	animation-play-state: running; /* 🔥 hover 就播放动画！ */
	opacity: 0.2;
}


/* 🔥🔥🔥 因为需要让跑马灯文字去循环动！ —————————————————————————————————————— */
@keyframes textMoving {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(-100%);
	}
}



/* 🌟圆形图片 */
.circle-img-container {
	width: 15vw;
	height: 15vw;
	max-width: 120px;
	max-height: 120px;
	border-radius: 100%;
	overflow: hidden;
	position: absolute;/* 🔥绝对定位才能跟随鼠标, 控制父元素 */
	opacity: 0;
	left: 0;
	/* top: -16px; */
	pointer-events: none; /* 🔥🔥禁用事件, 避免影响 hover 时出现图片的效果！ */
	z-index: 10;
}

.circle-img-container > img {
	width: 160%; /* 🔥放大图片 */
}

/* 媒体查询 */

@media (min-width: 900px) {
	.text-move {
		font-size: 5rem !important;
	}
}