/* 添加字体 (他人电脑会先寻找代码包、然后找他人电脑的本地字体、最后去用系统字体)*/
@font-face {
	font-family: 'RammettoOne';
	src: url('../../font/RammettoOne-Regular.ttf');
}

.info-header-nav {
	display: flex;
	justify-content: space-between;
}

.info-header {
	/* border: 1px solid red; */
}


/* 右上角一块信息 */
.info-header-nav-badge {
	position: relative;
	display: flex;
	gap: 48px;
	/* border: 1px solid red; */
}

.info-header-text {
	display: flex;
	flex-direction: column;
}


/* Portfolio */
.info-header-nav-title-box {
	display: flex;
	font-size: 2rem;
	font-weight: 200;
}

.info-header-nav-title {
	font-family: 'RammettoOne';
	/* font-size: 2rem;
	font-weight: 200; */
}



/* 徽章 badge */
.info-header-nav-badge-box {
	position: relative;
	right: 0
}

.info-header-nav-badge-box > img {
	width: 80px;
}

.circleBadgeNormal {
	position: absolute;
	right: 0;
	top: 0;
}

.circleBadgeHover {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	transition: opacity 0.3s;
	/* z-index: 102; */
}

.circleBadgeHover:hover {
	opacity: 1;
}


/* switch + info */
.info-header-switch-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
}




/* 🔥🔥🔥 用 input 造 switch ! 利用 label 元素的特点！！*/
.checkBoxSwitch {
	height: 0;
	width: 0;
	opacity: 0;
	/* position: absolute; */
}

.switch-bar {
	width: 68px;
	height: 32px;
	border-radius: 20px;
	border: 2px solid #E8E2E2;
	position: relative;
	/* background-color: blue; */
}

.switch-bar::before { /*🔥🔥🔥【伪元素】, 不用单独写个 div！ */
	content: "";
	height: 28px;
	width: 28px;
	background-color: black;
	position: absolute;
	border-radius: 50%;
	top: 2px;
	left: 3px;
	z-index: 100;
	transition: transform 0.3s ease, background-color 0.3s ease;
	background-image: url('../../imgs/star.svg'); /*🌟星星 icon*/
}

/*🔥🔥🔥当 【checkBox 是 checked 状态】时, 去【寻找相邻的兄弟元素（不是子元素）】!而【伪类】是寄生在兄弟元素上的！也能找到！！*/
.checkBoxSwitch:checked  + .switch-bar::before  { /*🔥🔥🔥改变的是 【相邻的元素】的伪元素！ */
	transform: translate(34px) !important;
	background-color: transparent; /*🔥🔥相当于把⭕️变透明*/
	background-repeat: no-repeat; /*🔥🔥🔥不重复 */
	background-size: contain; /*🔥刚好放置在容器内*/
	/* background-image: url('../imgs/star.svg') */
}

/*🔥 Label 用法示意*/
.checkBoxSwitch:checked  + .switch-bar {
	/* background-color: red; //🔥🔥🔥当 checkBox 是 checked 状态时, ⚡️⚡️利用 label 内的兄弟选择器！点击 switchDot */
} 





/* switch 下边的文字 */
.info-header-nav-badge-switch-info {
	display: flex;
	flex-direction: column;
	font-size: 0.7rem;
	align-items: center;
	justify-content: center;
	height: 60px;
	color: #65647C;
	text-align: top;
	/* border: 1px solid red; */
}

.info-header-nav-badge-switch-info > span{
	width: 60px;
	position: absolute;
	text-align: left;
}

.switch-to-new {
	visibility: hidden;/*🔥🔥隐藏元素*/
}


/* 媒体查询响应式 (🔥部分覆盖而非完全覆盖！) */
/* 
	逻辑分辨率，系统可以以多少分辨率的像素来渲染
	物理分辨率 PPI 

	320px ~ 480px : 移动设备
	480px ~ 768px : ipad、平板电脑
	768px ~ 1024px : 小屏电脑、笔记本电脑
	1024px ~ 1280px : 大屏电脑、台式机
	1280px 以上 : 超大屏电脑、电视
 */
@media (min-width: 200px) and (max-width: 900px) { /* max-width 是小于 900px 就怎么样, min-width 900px 是大于 900 就怎么样 */
	.info-header-nav-badge-box > img {
		width: 68px;
	}

	.info-header-nav-badge-switch {
		height: 40px;
	}

	.switch-bar {
		width: 60px;
		heightL 28px;
	}

	.checkBoxSwitch:checked  + .switch-bar::before  { /*🔥🔥🔥改变的是 【相邻的元素】的伪元素！ */
		transform: translate(26px) !important;
	}

	.info-header-nav-badge-switch-info {
		font-zize: 0.5rem;
		scale: 0.8;
		margin-top: 4px;
		text-align: top;
	}
}


@media (min-width: 900px) {
	.left-work-titles-info {
		font-size: 5rem !important;
	}

	.font-info-talk {
		font-size: 6.5rem !important;
	}
}