
.info-header-nav {
	display: flex;
	justify-content: space-between;
}

.info-header {
	/* border: 1px solid red; */
}


/* 右上角一块信息 */
.info-header-nav-badge {
	position: relative;
	display: flex;
	gap: 48px;
	/* border: 1px solid red; */
}

.info-header-text {
	display: flex;
	flex-direction: column;
}


/* Portfolio */
.info-header-nav-title {
	font-size: 2rem;
	font-weight: 200;
}



/* 徽章 badge */
.info-header-nav-badge-box {
	position: relative;
	right: 0
}

.info-header-nav-badge-box > img {
	width: 80px;
}

.circleBadgeNormal {
	position: absolute;
	right: 0;
	top: 0;
}

.circleBadgeHover {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	transition: opacity 0.3s;
	/* z-index: 102; */
}

.circleBadgeHover:hover {
	opacity: 1;
}


/* switch + info */
.info-header-switch-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
}




/* 🔥🔥🔥 用 input 造 switch ! 利用 label 元素的特点！！*/
.checkBoxSwitch {
	height: 0;
	width: 0;
	opacity: 0;
	/* position: absolute; */
}

.switch-bar {
	width: 68px;
	height: 32px;
	border-radius: 20px;
	border: 2px solid #E8E2E2;
	position: relative;
	/* background-color: blue; */
}

.switch-bar::before { /*🔥🔥🔥【伪元素】, 不用单独写个 div！ */
	content: "";
	height: 28px;
	width: 28px;
	background-color: black;
	position: absolute;
	border-radius: 50%;
	top: 2px;
	left: 3px;
	z-index: 100;
	transition: transform 0.3s ease, background-color 0.3s ease;
	background-image: url('../../imgs/star.svg'); /*🌟星星 icon*/
}

/*🔥🔥🔥当 【checkBox 是 checked 状态】时, 去【寻找相邻的兄弟元素（不是子元素）】!而【伪类】是寄生在兄弟元素上的！也能找到！！*/
.checkBoxSwitch:checked  + .switch-bar::before  { /*🔥🔥🔥改变的是 【相邻的元素】的伪元素！ */
	transform: translate(34px) !important;
	background-color: transparent; /*🔥🔥相当于把⭕️变透明*/
	background-repeat: no-repeat; /*🔥🔥🔥不重复 */
	background-size: contain; /*🔥刚好放置在容器内*/
	/* background-image: url('../imgs/star.svg') */
}

/*🔥 Label 用法示意*/
.checkBoxSwitch:checked  + .switch-bar {
	/* background-color: red; //🔥🔥🔥当 checkBox 是 checked 状态时, ⚡️⚡️利用 label 内的兄弟选择器！点击 switchDot */
} 





/* switch 下边的文字 */
.info-header-nav-badge-switch-info {
	display: flex;
	flex-direction: column;
	font-size: 0.7rem;
	align-items: center;
	height: 60px;
	color: #65647C;
	/* border: 1px solid red; */
}

.info-header-nav-badge-switch-info > span{
	width: 60px;
	position: absolute;
	text-align: left;
}

.switch-to-new {
	visibility: hidden;/*🔥🔥隐藏元素*/
}