html, body {
	margin: 0;
	padding: 0;
	cursor: none;
	/* 定义全局颜色变量 */
	--color-T: #b1d372;
	--color-B: #7286D3;
}

/* 内容与结构 */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/* Canvas 鼠标样式相关 -------------------------------------------------- */
.mouse-point {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #13005A;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
	pointer-events: none; //🔥🔥🔥禁用上层 canvas 的事件!! 让小圆点的鼠标事件影响到下面的元素！！
}

#myCanvas {
	height: 100%;
	width: 100%;
	/* border: 10px solid #000; */
	box-sizing: border-box;
	position: fixed;  /*🔥因为 fixed 之后就脱离了文档流，就能直接覆盖整个页面了*/
	top: 0;
	left: 0;
	z-index: 100;
	pointer-events: none; //🔥🔥🔥禁用上层 canvas 的事件!! 让小圆点的鼠标事件影响到下面的元素！！
}

.container {
	/* border: 1px solid red; */
	padding: 20px;
}

/* 上下信息 */
.info-header {
	display: flex;
	flex-direction: column;
	gap: 100px; /* 子组件还会覆盖这个值！ */
}

.info-header-nav {
	display: flex;
	justify-content: space-between;
}

.info-header-nav-badge {
	display: flex;
	gap: 12px;
}

.info-header-text {
	display: flex;
	flex-direction: column;
}

.info-header-imgs {
	position: relative;
	border: 1px solid green;
	width: fit-content;
}

.info-header-imgs-img {
	width: 300px;
	height: 300px;
	background-color: lightgray;
}

.info-header-imgs-rotate {
	position: absolute;
	top: 0;
	right: 0;
}

/* Portfolio */
.info-header-nav-title {
	font-size: 2rem;
	font-weight: 200;
}

/* 徽章 badge */
.info-header-nav-badge-box {
	position: relative;
	right: 0
}

.info-header-nav-badge-box > img {
	width: 80px;
}

.circleBadgeNormal {
	position: absolute;
	right: 0;
	top: 0;
}

.circleBadgeHover {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	transition: opacity 0.3s;
}

.circleBadgeHover:hover {
	opacity: 1;
}


/* 鼠标⭕️圆圈放大效果 _________ */
/* 🔥🔥🔥同时具备两个类才生效！ 移入 circleBadgeNormal 后再添加这个 class！！*/
.mouse-point.bigdot {
	height: 28px;
	width: 28px;
	background-color: #7286D3;
	transition: width 0.3s, height 0.3s; /* 宽高的过渡动画 */
}


